#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	:

override_dh_auto_build:
	:

override_dh_auto_install:
	:

override_dh_fixperms:
	dh_fixperms
	chmod 0755 debian/homelabctl/usr/lib/homelabctl/bin/homelabctl
	find debian/homelabctl/usr/lib/homelabctl/src -type f -name '*.sh' -exec chmod 0755 {} \;
